parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - src/
        - admin/
        - frontend/
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        - '#.*class Frm.*#'
    scanDirectories:
    scanFiles:
        - %rootDir%/../../php-stubs/acf-pro-stubs/acf-pro-stubs.php
        - %rootDir%/../../lipemat/phpstan-wordpress/stubs/cmb2/cmb2-2.9.php
    bootstrapFiles:
        - constants.php
